<div class="header">
    <ul>
        <li class="dropdown">
            <a routerLink="/file" class="dropbtn">file</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/account" class="dropbtn">account</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/dashboard" class="dropbtn">dashboard</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/setting" class="dropbtn">setting</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/login" class="dropbtn">login</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/register" class="dropbtn">register</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/help" class="dropbtn">help</a>
            <div class="dropdown-content drop-animation">
                <a href="#">Link 1</a>
            </div>
        </li>
    </ul>
</div>